<div class="collection-card">
	<figure class="collection-card_figure">{% if object.image %}<a href="{{ object.get_absolute_url }}"><img src="{{ object.image.url }}" alt="Product Title">{% endif %}</a>
		<figcaption class="collection-card_figure-caption">
			{% if object.title %}<h2>{{ object.title }}</h2>{% endif %}
			<a href="{{ object.get_absolute_url }}">Discovery
				<svg class="icon">
					<use xlink:href="#long-arrow-right"></use>
				</svg>
			</a>
		</figcaption>
	</figure>
</div>
