{% load static %}
<form class="search-input__form" method="GET" action="{% url 'search:query' %}">
	<div class="search-input__autocomplete-list">
		<input type="search" placeholder="Search for: Action camera, Smart Gadgets" name="q" value="{{ request.GET.q }}">
	</div>
</form>
