{% load static %}
<form class="search-input__form" method="GET" action="{% url 'search:query' %}">
	<div class="search-input__autocomplete-list">
		<input type="search" placeholder="I'm looking for..." name="q" value="{{ request.GET.q }}" aria-label="I'm search for...">
	</div>
	<div class="search-input__submit">
		<button type="submit">
			<svg class="icon">
				<use xlink:href="#icon_search"></use>
			</svg>
		</button>
	</div>
</form>
