{% extends "base.html" %}
{% block content %}
<div class="container mb-5">
  <div class="row">
    <div class="container">
      <div class="col-xl-12">
        <h1 class="text-center mt-5">My products</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 mt-5 mb-5">
      <a class="btn btn-dark" href="{% url "sellers:dashboard" %}">To Dashboard</a>
    </div>
  </div>
  <div class="row">
    {% for object in object_list %}
      <div class="products-list-container d-flex">
        <div class="col-xl-3 col-12 mt-5">
          <div class="card" style="width: 15rem;">
            {% if object.image %}
              <a href="{{ object.get_absolute_url }}">
                <img class="card-img-top" src="{{ object.image.url }}" alt="{{ object.title }}">
              </a>
            {% endif %}
            <div class="card-body">
              {% if object.title %}<h5 class="card-title">{{ object.title }}</h5>{% endif %}
              {% if object.price %}<p class="card-text">$ {{ object.price }} usd</p>{% endif %}
              <a href="{{ object.get_edit_url }}" class="card-link">Edit</a>
              <a href="#" class="card-link">Delete</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
