{% extends "base.html" %}
{% block title %}{% if object.seo_title %}{{ object.seo_title }}{% else %}{{ object.title }}. Find Necessary Hi-Tech Product Easy{% endif %}{% endblock %}
{% block seo_description %}{% if object.seo_description %}{{ object.seo_description }}{% else %}{{ object.title }}. Find necessary hi-tech product easy and comfortable. Easily search, find and buy a smart product, — all with a few clicks. See product rankings and comments to decide on buying it. Join 4Prototypes community now.{% endif %}{% endblock %}
{% block content %}
<section class="header-container">
  <div class="container">
  	<ul class="header-container_breadcrumbs-list">
  		<li class="header-container_breadcrumbs-list-item"><a href="/">Main page</a></li>
  		<li class="header-container_breadcrumbs-list-item"><a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a></li>
  		<li class="header-container_breadcrumbs-list-item"><a href="#">{{ object.title }}</a></li>
  	</ul>
  </div>
  <div class="header-container_block">
    <div class="header-container_title">
      <h1>{{ object.title }}</h1>
      <p>{{ object.full_description }}</p>
    </div>
    <div class="search-container">
      <div class="search-container_select">
        <select id="nav-switcher">
          <option value="hide">Price range:</option>
          <option value="50">50.00$ and Under</option>
          <option value="1000">1000.00$ and Under</option>
          <option value="4000">4000.00$ and Under</option>
        </select>
      </div>
      <div class="search-container_select">
        <select id="nav-switcher">
          <option value="hide">Sort by:</option>
          <option value="low">Lowest</option>
          <option value="new">Newest</option>
          <option value="high">Highest</option>
        </select>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
		<div class="section-content">
			<div class="products_grid">
        {% for product in products %}
          {% include 'products/snippets/card.html' with object=product %}
        {% endfor %}
			</div>
		</div>
	</div>
</section>
<section class="section">
  <div class="section-container section-content">
    <div class="container container_narrow">
      {% if object.seo_text %}
        {{ object.seo_text|safe }}
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
