{% extends "base.html" %}

{% load static %}

{% block content %}
{% if title %}<h4 class="text-center my-5">{{ title }}</h4>{% endif %}
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <form method="POST" action='{% if action_url %}{{ action_url }}{% endif %}'> {% csrf_token %}
        <div class="form-group">
          {% if next_url %}
            <input type="hidden" name="next" value="{{ next_url }}">
          {% endif %}
        {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
