{% block content %}
  <section class="section">
    <div class="container">
      <div class="section-content">
      	<div class="products_grid">
          {% for object in object_list %}
            {{ object.seo_title }}<br>
            {{ object.seo_description }}<br>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
