{% block content %}
  <section class="section">
    <div class="container">
      <div class="section-content">
      	<div class="products_grid">
          {% for object in object_list %}
            {{ object.title_first }}<br>
            {{ object.content_first }}<br>
            {{ object.title_second }}<br>
            {{ object.content_second }}<br>
            {{ object.title_third }}<br>
            {{ object.content_third }}<br>
            {{ object.title_fourth }}<br>
            {{ object.content_fourth }}<br>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
