{% extends "base.html" %}
{% load static %}
{% block content %}
{% if main_slider %}
  <div class="slider">
    <div class="slider_slide-container">
      <div class="slide-group">
        {% for slider in main_slider %}
          <div class="slide-group_slide {% if forloop.first %}active{% endif %}">
            <div class="slide-group_slide-caption">
              <div class="slide-group_slide-caption-container">{% if slider.title %}<span class="slide-group_slide-caption-text">{{ slider.title }}</span>{% endif %}
                {% if slider.url_product %}
                  <a href="{{ slider.url_product }}" class="slide-group_slide-caption-button">Discover more</a>
                {% endif %}
              </div>
            </div>
            {% if slider.image %}<img src="{{ slider.image.url }}" alt="Main Slider Image">{% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="slider_dot-navigation"></div>
    <div class="slider_arrow-navigation">
      <div class="container">
        <div class="slider_arrow-navigation-arrow">
          <div class="previous" title="Previous"></div>
        </div>
        <div class="slider_arrow-navigation-arrow">
          <div class="next" title="Next"></div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
<section class="section-tabs">
			<div class="tabs_container">
				<div class="tabs">
					<div class="container">
						<ul class="tabs_navigation" data-tabgroup="first-tab-group">
							<li><a class="active" href="#tab1">Trending now</a></li>
							<li><a href="#tab2">Best sellers</a></li>
							<li><a href="#tab3">Local products</a></li>
							<li><a href="#tab4">Featured products</a></li>
						</ul>
					</div>
				</div>
				<div class="container">
					<div class="tabgroup" id="first-tab-group">
						<div class="tabgroup_content" id="tab1">
							<div class="tabgroup_content-grid products_grid">
								{% for product in trending_products %}
                  {% include 'products/snippets/card.html' with object=product %}
                {% endfor %}
							</div>
							<div class="tabgroup_button load-more">
								<button class="load-more_button">Load more</button>
							</div>
						</div>
						<div class="tabgroup_content" id="tab2">
							<div class="tabgroup_content-grid products_grid">
                {% for product in best_products %}
                  {% include 'products/snippets/card.html' with object=product %}
                {% endfor %}
							</div>
							<div class="tabgroup_button load-more">
								<button class="load-more_button">Load more</button>
							</div>
						</div>
						<div class="tabgroup_content" id="tab3">
							<div class="tabgroup_content-grid products_grid">
                {% for product in local_products %}
                  {% include 'products/snippets/card.html' with object=product %}
                {% endfor %}
							</div>
							<div class="tabgroup_button load-more">
								<button class="load-more_button">Load more</button>
							</div>
						</div>
						<div class="tabgroup_content" id="tab4">
							<div class="tabgroup_content-grid products_grid">
                {% for product in featured_products %}
                  {% include 'products/snippets/card.html' with object=product %}
                {% endfor %}
							</div>
							<div class="tabgroup_button load-more">
								<button class="load-more_button">Load more</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    <section class="section-features">
			<div class="section-container features-section">
				<div class="container">
					<div class="section-title">
						<h2>Features</h2>
					</div>
					<div class="section-content">
						<div class="features-grid">
							<div class="features-grid_item">
								<svg class="icon">
									<use xlink:href="#feature-1"></use>
								</svg>
								<div class="features-grid_item-content">
									<h3>Enjoy smart</h3>
									<p>Smart platform with smart products for smart people</p>
								</div>
							</div>
							<div class="features-grid_item">
								<svg class="icon">
									<use xlink:href="#feature-2"></use>
								</svg>
								<div class="features-grid_item-content">
									<h3>Enjoy tech</h3>
									<p>Access smart products ratings and reviews from tech geeks all over the world to make a right decision.</p>
								</div>
							</div>
							<div class="features-grid_item">
								<svg class="icon">
									<use xlink:href="#feature-3"></use>
								</svg>
								<div class="features-grid_item-content">
									<h3>Join 4Prototypes</h3>
									<p>Easy to navigate, easy to search, easy to decide and easy to buy — we’re easy about smart.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    <section class="section">
    			<div class="container">
    				<div class="section-title">
    					<h2>New discoveries</h2>
    				</div>
    				<div class="section-content">
      				<div class="products_grid">
                {% for product in all_products %}
      						{% include 'products/snippets/card.html' with object=product %}
                {% endfor %}
      				</div>
    				</div>
    			</div>
    		</section>
        <section class="section">
        			<div class="section-container carousel-section">
        				<div class="container">
        					<div class="section-content">
        						<div class="thumb-container"><img class="thumb-container_thumb" src="assets/img/carousel-section_mobile.jpg" title="Smart Home"></div>
        						<div class="section-content_description-column">
                      {% for category in categories_one %}
          							<div class="description-column-content">
          								<div class="description-column-content-top">
          									{% if category.title %}<h2>{{ category.title }}</h2>{% endif %}
          									{% if category.full_description %}<p>{{ category.full_description }}</p>{% endif %}
          								</div>
          								<a class="description-column-content-button" href="{{ category.get_absolute_url }}">Discover more
          									<svg class="icon">
          										<use xlink:href="#pixel_arrow"></use>
          									</svg>
          								</a>
          							</div>
                      {% endfor %}
        						</div>
        						<div class="section-content_carousel-container">
        							<div class="carousel owl-carousel owl-theme">
                        {% for qs in all_products %}
                          {% include 'products/snippets/card.html' with object=qs %}
                        {% endfor %}
        							</div>
        						</div>
        					</div>
        				</div>
        			</div>
        		</section>
            <section class="section">
        			<div class="container">
        				<div class="section-content">
        					<div class="products_grid">
                    {% for product in products_in_category %}
                      {% include 'products/snippets/card-thumbnail.html' with object=product %}
                    {% endfor %}
        					</div>
        				</div>
        			</div>
        		</section>
            <section class="section">
        			<div class="container">
        				<div class="section-title">
        					<h2>Collections</h2>
        				</div>
        				<div class="section-content">
        					<div class="collections_grid">
                    {% for collection in collections %}
                      {% include 'selections/snippets/card-collections.html' with object=collection %}
                    {% endfor %}
        					</div>
        					<div class="load-more">
        						<button class="load-more_button">Load more</button>
        					</div>
        				</div>
        			</div>
        		</section>
    <section class="section section-cta">
			<div class="section-container section-cta">
				<div class="container container_narrow cta_container">
					<div class="section-content">
						<h1>We Help Great Products Get in Front of the Right People</h1>
						<div class="cta_container-bottom-section">
							<button class="cta_container-bottom-section-button">Become a partner
								<svg class="icon">
									<use xlink:href="#pixel_arrow"></use>
								</svg>
							</button>
							<div class="cta_container-bottom-section-list">
								<ul>
									<li>- Boost Sales & Exposure for you product</li>
									<li>- Instantly Increase Brand Awareness</li>
									<li>- Advertise in Front of Target Consumers</li>
									<li>- World Class 24/7 Customer Support</li>
									<li>- Advertise your Crowdfunding Project</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    <section class="section">
			<div class="section-container section-content">
				<div class="container container_narrow">
					<h3>Home for Smart Products</h3>
					<p>
						Find necessary hi-tech product easy and comfortable. Surf through the platform, сheck and buy the best
						smart products with a few clicks. We store best ideas for new services, smart electronic devices,
						wearable gadgets, and other products. 4Prototypes focuses on home automation products, smart house
						systems, security devices, wireless bluetooth controller devices, and more.
					</p>
					<h3>Smart People Love Smart Devices</h3>
					<p>
						4Prototypes is not just home for the best smart devices and best smart products. 4Prototypes is also a
						hub for people who like cool smart devices. We nest together, and we grow together. Wanna buy a smart
						device, but have some doubts? Have a need for a brand new wifi system? Or maybe you’re looking for a
						new virtual assistant which blows Alexa and Siri out of the water? We’ve got the long list of awesome
						things, so you will find exactly what you need. There is always the best option of a smart device for
						you!
					</p>
					<h3>Get an Instant Feedback on Your Smart Products from Community</h3>
					<p>
						Build new connections and stay connected with a community of passionate users. Share your thoughts on a
						new technology, get quick feedback from the community. Decide on purchase depending on rankings and
						comments from real tech geeks. We believe that ratings from passionate experts in smart products and
						smart devices will bring valuable transparency into our service. No need to believe marketing tricks
						and buzzwords. Only truth. From those you can trust.
					</p>
					<h3>Easy and Smart Navigation</h3>
					<p>
						4Prototypes is made for effortless surfing. Find what you like, check similar products, pick the best
						possible solution. Easily share it with friends in social networks, leave comments and rate a smart
						product you like! Don’t hesitate to join 4Prototypes community and become a part of a brand new world
						of a game changing devices. Because we are tomorrow, and so are you. We operate in all countries and
						cities, from Paris to New York, Los Angeles, Chicago, Houston, San Jose, San Francisco, San Diego
					</p>
				</div>
			</div>
		</section>
{% endblock %}
