{% extends "base.html" %}
{% load static %}
{% block title %}{% for object in seo_block %}{{ object.seo_title }}{% endfor %}{% endblock %}
{% block seo_description %}{% for object in seo_block %}{{ object.seo_description }}{% endfor %}{% endblock %}
{% block content %}
{% if main_slider %}
    <div class="carousel slide main-slider slider" id="carouselExampleIndicators" data-ride="carousel">
			<div class="slider_slide-container">
				<div class="slide-group">
          <ol class="carousel-indicators">
            {% for slider in main_slider %}
						<li class="active" data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}"{% if forloop.first %}class="active"{% endif %}></li>
            {% endfor %}
					</ol>
            {% for slider in main_slider %}
						  <li class="active" style="list-style: none;" data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}"{% if forloop.counter %}class="active"{% endif %}"></li>
            {% endfor %}
					<div class="carousel-inner">
            {% for slider in main_slider %}
						<div class="carousel-item {% if forloop.first %}active{% endif %} slide-group_slide">
							<div class="slide-group_slide-caption" style="background-image: url({{ slider.image.url }})">
								<div class="d-none d-md-block slide-group_slide-caption-container">
                  {% if slider.title %}<div class="slide-group_slide-caption-text"><span class="slide-group_slide-caption-title">{{ slider.title }}</span></div>{% endif %}
                  {% if slider.url_product %}<a class="slide-group_slide-caption-button" href="{{ slider.url_product }}">Discover more
										<svg class="icon">
											<use xlink:href="#pixel_arrow"></use>
										</svg></a>{% endif %}</div>
							</div>
						</div>
            {% endfor %}
					</div>
					<div class="slider_arrow-navigation">
						<div class="container"><a class="slider_arrow-navigation-arrow" href="#carouselExampleIndicators" role="button" data-slide="prev">
								<div class="previous" title="Previous"></div></a><a class="slider_arrow-navigation-arrow" href="#carouselExampleIndicators" role="button" data-slide="next">
								<div class="next" title="Next"></div></a></div>
					</div>
				</div>
			</div>
		</div>
{% endif %}
<section class="section-tabs">
			<div class="tabs_container">
				<div class="tabs">
					<div class="container">
						<ul class="tabs_navigation" data-tabgroup="first-tab-group">
							<li><span class="active" href="#tab1">Trending now</span></li>
							<li><span id="buttonOne" href="#">Best sellers</span></li>
							<li><span id="buttonTwo" href="#">Our favourites</span></li>
							<li><span id="buttonThree" href="#">Advanced products</span></li>
						</ul>
					</div>
				</div>
				<div class="container">
					<div class="tabgroup" id="first-tab-group">
						<div class="tabgroup_content" id="tab1">
							<div class="tabgroup_content-grid products_grid">
								{% for product in trending_products %}
                  {% include 'products/snippets/card.html' with object=product %}
                {% endfor %}
							</div>
						</div>
						<div class="tabgroup_content" id="sectionOne">
              <div class="tabgroup_title">
                <h5>Best sellers</h5>
              </div>
							<div class="tabgroup_content-grid products_grid">
                {% for product in best_products %}
                  {% include 'products/snippets/card.html' with object=product %}
                {% endfor %}
							</div>
						</div>
						<div class="tabgroup_content" id="sectionTwo">
              <div class="tabgroup_title">
                <h5>Our favourites</h5>
              </div>
							<div class="tabgroup_content-grid products_grid">
                {% for product in local_products %}
                  {% include 'products/snippets/card.html' with object=product %}
                {% endfor %}
							</div>
						</div>
						<div class="tabgroup_content" id="sectionThree">
              <div class="tabgroup_title">
                <h5>Advanced products</h5>
              </div>
							<div class="tabgroup_content-grid products_grid">
                {% for product in featured_products %}
                  {% include 'products/snippets/card.html' with object=product %}
                {% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% for category in categories|slice:"3" %}
  <section class="section">
    <div class="section-container carousel-section">
      <div class="container">
        <div class="section-content">
          <div class="thumb-container">{% if category.image %}<img class="thumb-container_thumb" src="{{ category.image.url }}" title="Smart Home">{% endif %}</div>
          <div class="section-content_description-column">
              <div class="description-column-content">
                <div class="description-column-content-top">
                  {% if category.title %}<h2>{{ category.title }}</h2>{% endif %}
                  {% if category.full_description %}<p>{{ category.full_description }}</p>{% endif %}
                </div>
                <a class="description-column-content-button" href="{{ category.get_absolute_url }}">Show all
                  <svg class="icon">
                    <use xlink:href="#pixel_arrow"></use>
                  </svg>
                </a>
              </div>
          </div>
          <div class="section-content_carousel-container">
            <div class="inner_carousel owl-carousel owl-theme">
              {% for qs in category.primary_category.all|slice:":4" %}
                {% include 'products/snippets/card.html' with object=qs %}
              {% endfor %}
							</div>
						</div>
          </div>
        </div>
      </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="section-content">
        <div class="products_grid">
          {% for qs in category.primary_category.all|slice:":8" %}
            {% include 'products/snippets/card.html' with object=qs %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endfor %}
    <section class="section">
      <div class="container">
        <div class="section-title">
          <h2>Collections</h2>
        </div>
        <div class="section-content">
          <div class="collections_grid">
            {% for collection in collections %}
              {% include 'selections/snippets/card-collections.html' with object=collection %}
            {% endfor %}
          </div>
          <!-- <div class="load-more">
            <button class="load-more_button green">Load more</button>
          </div> -->
        </div>
      </div>
    </section>
    <section class="section-features">
			<div class="section-container features-section">
				<div class="container">
					<div class="section-title">
						<h2>Features</h2>
					</div>
					<div class="section-content">
						<div class="features-grid">
							<div class="features-grid_item">
								<svg class="icon">
									<use xlink:href="#feature-1"></use>
								</svg>
								<div class="features-grid_item-content">
									<h3>Enjoy smart</h3>
									<p>Smart platform with smart products for smart people</p>
								</div>
							</div>
							<div class="features-grid_item">
								<svg class="icon">
									<use xlink:href="#feature-2"></use>
								</svg>
								<div class="features-grid_item-content">
									<h3>Enjoy tech</h3>
									<p>Access smart products ratings and reviews from tech geeks all over the world to make a right decision.</p>
								</div>
							</div>
							<div class="features-grid_item">
								<svg class="icon">
									<use xlink:href="#feature-3"></use>
								</svg>
								<div class="features-grid_item-content">
									<h3>Join 4Prototypes</h3>
									<p>Easy to navigate, easy to search, easy to decide and easy to buy — we’re easy about smart.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    <section class="section section-subscription">
			<div class="section-container features-section">
				<div class="container">
					<div class="subscription-container">
						<div class="section-title center margin">
							<h2 class="margin-minor">Subscription</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus rhoncus est, ut finibus neque hendreri</p>
						</div>
						<div class="section-content center">
							<div class="box">
                <form class="validate" action="{% url 'subscribe' %}" method="POST">{% csrf_token %}
                {{ form }}
                <input class="mc-button" type="submit" name="Subscribe">
                </form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    <section class="section">
      <div class="section-container section-content">
        <div class="container container_narrow">
    			{% for object in seo_block %}
            {% if object.title_first %}<h3>{{ object.title_first }}</h3>{% endif %}
            {% if object.content_first %}<p>{{ object.content_first }}</p>{% endif %}
            {% if object.title_second %}<h3>{{ object.title_second }}</h3>{% endif %}
            {% if object.content_second %}<p>{{ object.content_second }}</p>{% endif %}
            {% if object.title_third %}<h3>{{ object.title_third }}</h3>{% endif %}
            {% if object.content_third %}<p>{{ object.content_third }}</p>{% endif %}
            {% if object.title_fourth %}<h3>{{ object.title_fourth }}</h3>{% endif%}
            {% if object.content_fourth %}<p>{{ object.content_fourth }}</p>{% endif %}
          {% endfor %}
        </div>
      </div>
		</section>
{% endblock %}
