{% extends "base.html" %}
{% load static %}
{% block title %}Privacy & Policy{% endblock %}
{% block seo_description %}Description for Privacy & Policy{% endblock %}
{% block content %}
  <section class="section">
    <div class="section-container section-content">
      <div class="container container_narrow">
          <p>4Prototypes Privacy Notice</p>
          <p>Last Revised: March 18rd 2019</p>
          <h2>Our commitment to Privacy</h2>
          <p>Protecting your privacy and your information is a top priority here at 4Prototypes. (“4Prototypes” “we”, “us” or “ours”). This Privacy Notice explains what information we collect from website visitors and users of our services (“You”), how we use it, who we share it with and how we protect it.</p>
          <h2>What information do we collect and what do we use it for?</h2>
          <h2>Visitors</h2>
          <p>Visitors have access to the pages of the site, pages of categories and subcategories, product pages as well as static pages of the site. Visitors have the opportunity to ask a question or contact us using the Help window. For this, we collect the following information:</p>
          <p>Your First name</p>
          <p>Your Email Address</p>
          <p>Website visitation tracking: Our Website uses google analytics (“GA”) to track our Users’ interaction. We use the data to determine the number of people using our Website, to better understand how they locate and use our web pages. Although GA records data such as your geographical location, device, internet browser and operating system, none of this information personally identifies you to 4Prototypes. GA also records your computer device’s IP address which could be used t personally identify you but Google do not grant us access to this.</p>
          <p>Contact forms and email links: Should you choose to contact us via the contact form at our contact us page or an email link, none of the data that you provide will be stored in the Website or passed to / be processed by any of the Third Party Data Processors. The data will be compiled into an email and sent to us over the Simple Mail Transfer Protocol (SMTP). Our SMTP servers are protected by TLS (also known as SSL) meaning that the email content is encrypted using SHA-2, 256-bit cryptography. The email content is then decrypted by our local computers and devices.</p>
          <h2>How do we protect your information?</h2>
          <p>– Customers understand and agree that their information can be accessed by the Visitors of our Website.</p>
          <p>–  All our employees, independent contractors and agents have executed non-disclosure agreements, which provide explicit confidentiality protections. Any employee, independent contractor or agent who violates such privacy and/or security policies is subject to possible termination and civil and/or criminal prosecution.</p>
          <p>– We do not make any of your information available to third parties for their marketing purposes. 4Prototypes’ software runs on individual servers and no data given or collected is shared with other social media platforms. If however, we share your information with third parties, we will notify you. Please note that no transmission over the internet can guarantee confidentiality and non-disclosure, and as such, you transmit at your own risk.</p>
          <p>– 4Prototypes uses robust security measures to protect data from unauthorized access, maintain data accuracy, and help ensure the appropriate use of data. When the Services are accessed using the internet, Secure Socket Layer (SSL) technology protects your information, using both server authentication and data encryption. These technologies help ensure that your information is safe, secure, and only available to you and to whom you have granted access. 4Prototypes also implements other advanced technology measures to prevent interference or access from outside intruders.</p>
          <p>– All traffic (transferral of files) between the Website and your browser is encrypted and delivered over HTTPS.</p>
          <h2>Cookies and similar tracking technology</h2>
          <p>We use cookies and similar tracking technology (collectively, “Cookies”) to collect and use personal information about you.</p>
          <h2>Data retention</h2>
          <p>We retain personal information we collect from you where we have an ongoing legitimate business need to do so (for example, to provide you with a service you have requested or to comply with applicable legal, tax or accounting requirements).</p>
          <p>When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize it or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</p>
          <h2>International data transfers</h2>
          <p>4Prototypes is a United States (US) headquartered company. If you are located outside the US and choose to provide information to us, 4Prototypes transfers your information to our servers in the US. The US may not have the same data protection laws as the country in which you initially provided the information. When we transfer your information to the US, we will protect it as described in this Privacy Notice. By visiting our Website or providing 4Prototypes with your information, you acknowledge to this transfer, processing and storage of your information in the US.</p>
          <p>We have taken appropriate safeguards to require that your personal information will remain protected in accordance with this Privacy Notice.</p>
          <h2>Legal basis for processing personal information (EEA Users and Customers only)</h2>
          <p>If you are a visitor from the European Economic Area, our legal basis for collecting and using the information described above will depend on the information concerned and the specific context in which we collect it. However, we will normally collect personal information from you only (i) where we need the personal information to perform a contract with you, (ii) where the processing is in our legitimate interests and not overridden by your rights, or (iii) where we have your consent to do so.  In some cases, we may also have a legal obligation to collect personal information from you.</p>
          <p>If we ask you to provide personal information to comply with a legal requirement or to perform a contact with you, we will make this clear at the relevant time and advise you whether the provision of your personal information is mandatory or not (as well as of the possible consequences if you do not provide your personal information).</p>
          <p>If we collect and use your personal information in reliance on our legitimate interests (or those of any third party), this interest will normally be to operate our platform and communicating with you as necessary to provide our services to you and for our legitimate commercial interest, for instance, when responding to your queries, improving our platform, undertaking marketing, or for the purposes of detecting or preventing illegal activities.  We may have other legitimate interests and if appropriate and we will make clear to you at the relevant time what those legitimate interests are.</p>
          <p>If you have questions about or need further information concerning the legal basis on which we collect and use your personal information, please contact us using the contact details provided under the “Help” pop-up window.</p>
          <h2>Links to Other Sites</h2>
          <p>Our Website contains links to other websites that are not owned or controlled by 4Prototypes. Please be aware that we are not responsible for the privacy practices of such other websites. We encourage you to be aware when you leave our Website and to read the privacy policies of each and every website that collects personal information. This privacy Notice applies only to information collected by this Website.</p>
          <h2>Changes to this Privacy Notice</h2>
          <p>We may update this Privacy Notice from time to time in response to changing legal, technical or business developments. When we update our Privacy Notice, we will take appropriate measures to inform you, consistent with the significance of the changes we make.  We will obtain your consent to any material Privacy Notice changes if and where this is required by applicable data protection laws.  You can see when this Privacy Notice was last updated by checking the “Last Revised” date displayed at the top of this Privacy Notice.</p>
      </div>
    </div>
  </section>
{% endblock %}
