{% extends "base.html" %}
{% block content %}
<div class="form_section">
			<div class="form_container">
				<div class="form_container-title regular">
					<h4>Lost access?</h4>
					<p>Hey, it happens to everyone. Just let us know what email address you use to login and we’ll send you an email with instructions</p>
				</div>
				<form method='post' action=''>{% csrf_token %}
					<div class="form_control-row">
            <span class="input">
							<input class="input__field" id="id_email" type="email" name="email" required="" maxlength="254">
							<label class="input__label" for="email"><span class="input__label-content">E-mail</span>
							</label>
            </span>
          </div>
					<div class="form_control-row"><button type="submit" class="load-more_button submit gray" >Recover</button></div>
					<div class="form_control-row"><a class="button_sign-up" href="/sign-up.html">Sign Up</a></div>
				</form>
			</div>
		</div>
{% endblock %}
<div class='row'>
    <div class='col-md-4 col-10  mx-auto'>
    <h1>Reset your Password</h1>
        <form method='post' action=''>{% csrf_token %}
        {{ form.as_p }}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-block btn-info'>Reset Password</button>
        </form>
      </div>
</div>
