<form method="POST" action='{% if action_url %}{{ action_url }}{% else %}{% url "login" %}{% endif %}'> {% csrf_token %}
  <div class="form-group">
    {% if next_url %}
      <input type="hidden" name="next" value="{{ next_url }}">
    {% endif %}
  {{ form }}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
