{% extends "base.html" %}
{% block title %}{{ object.seo_title }}{% endblock %}
{% block seo_description %}{{ object.seo_description }}{% endblock %}
{% block content %}
<section class="header-container">
  <div class="container">
  	<ul class="header-container_breadcrumbs-list">
  		<li class="header-container_breadcrumbs-list-item"><a href="#">Main page</a></li>
  		<li class="header-container_breadcrumbs-list-item"><a href="/categories/">All Categories</a></li>
  		<li class="header-container_breadcrumbs-list-item"><a href="#">{{ object.title }}</a></li>
  	</ul>
  </div>
  <div class="header-container_block">
    <div class="header-container_title">
      <h1>{{ object.title }}</h1>
      <p>{{ object.full_description }}</p>
    </div>
    <div class="search-container">
      <div class="search-container_select">
        <select id="nav-switcher">
          <option value="hide">Price range:</option>
          <option value="50">50.00$ and Under</option>
          <option value="1000">1000.00$ and Under</option>
          <option value="4000">4000.00$ and Under</option>
        </select>
      </div>
      <div class="search-container_select">
        <select id="nav-switcher">
          <option value="hide">Sort by:</option>
          <option value="low">Lowest</option>
          <option value="new">Newest</option>
          <option value="high">Highest</option>
        </select>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
		<div class="section-content">
			<div class="products_grid">
        {% for product in products|slice:"8" %}
          {% include 'products/snippets/card.html' with object=product %}
        {% endfor %}
			</div>
		</div>
	</div>
</section>
{% for subcategory in subcategories %}
<section class="section">
  <div class="section-container carousel-section">
    <div class="container">
      <div class="section-content">
        <div class="thumb-container">{% if subcategory.image %}<img class="thumb-container_thumb" src="{{ subcategory.image.url }}" title="Smart Home">{% endif %}</div>
        <div class="section-content_description-column">
            <div class="description-column-content">
              <div class="description-column-content-top">
                {% if subcategory.title %}<h2>{{ subcategory.title }}</h2>{% endif %}
                {% if subcategory.full_description %}<p>{{ subcategory.full_description }}</p>{% endif %}
              </div>
              <a class="description-column-content-button" href="{{ subcategory.get_absolute_url }}">Discover more
                <svg class="icon">
                  <use xlink:href="#pixel_arrow"></use>
                </svg>
              </a>
            </div>
        </div>
        <div class="section-content_carousel-container">
          <div class="inner_carousel owl-carousel owl-theme">
            {% for qs in subcategory.primary_subcategory.all %}
              {% include 'products/snippets/card.html' with object=qs %}
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="section">
  <div class="container">
		<div class="section-content">
			<div class="products_grid">
      {% for qs in subcategory.primary_subcategory.all|slice:":8" %}
        {% include 'products/snippets/card.html' with object=qs %}
      {% endfor %}
			</div>
		</div>
	</div>
</section>
{% endfor %}
<section class="section">
  <div class="section-container section-content">
    <div class="container container_narrow">
    {% if object.seo_text %}{{ object.seo_text|safe }}{% endif %}
    </div>
  </div>
</section>
{% endblock %}
