{% for category in categories %}
<section class="section">
  <div class="section-container carousel-section">
    <div class="container">
      <div class="section-content">
        <div class="thumb-container"><img class="thumb-container_thumb" src="assets/img/carousel-section_mobile.jpg" title="Smart Home"></div>
        <div class="section-content_description-column">
            <div class="description-column-content">
              <div class="description-column-content-top">
                {% if category.title %}<h2>{{ category.title }}</h2>{% endif %}
                {% if category.full_description %}<p>{{ category.full_description }}</p>{% endif %}
              </div>
              <a class="description-column-content-button" href="{{ category.get_absolute_url }}">Discover more
                <svg class="icon">
                  <use xlink:href="#pixel_arrow"></use>
                </svg>
              </a>
            </div>
        </div>
        <div class="section-content_carousel-container">
          <div class="carousel owl-carousel owl-theme">
            {% for qs in products %}
              {% include 'products/snippets/card.html' with object=qs %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="section-content">
      <div class="products_grid">
        {% for qs in products %}
          {% include 'products/snippets/card-thumbnail.html' with object=qs %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endfor %}
