{% extends "base.html" %}
{% block content %}
  <section class="section">
    <div class="container">
      <div class="section-content">
      	<div class="products_grid">
          {% for object in object_list %}
            {% include 'products/snippets/card.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
