{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="col-xl-6 mx-auto">
    {% if title %}<h4 class="text-center mt-5 mb-5">{{ title }}</h4>{% endif %}
    <form method="POST" action="{% if action_url %}{{ action_url }}{% endif %}">{% csrf_token %}
    {% if next_url %}
    <input type="hidden" name="next" value="next_url">
    {% endif%}
    {{ form.as_p }}
    <labe for="email ">Email:</labe>
    <input type="text" id="email" class="form-control mt-3 mb-3" value="{{ request.user.email }}" disabled>
    <button type="submit" class="btn btn-success mt-3 mb-3">Save changes</button>
    <a href="{% url 'password_change' %}">Change password</a>
    </form>
  </div>
</div>
{% endblock %}
