{% if address_qs.exists %}
  <div class="col-6">
    <form method="POST" action="?">{% csrf_token %}
      {% for address in address_qs %}
      <label for="address-{{ address.id }}">
        <input id='address-{{ address.id }}' type="radio" name="shipping_address" value="{{ address.id }}">
        {{ address.address_line_1 }}
      </label></br>
      {% endfor%}
      <button type="submit" value="" class="btn btn-success">Use this address</button>
    </form>
{% endif %}
