<div class="product-card">
  <div class="product_image">{% with img=object.image_set.first %}<a href="{{ object.get_absolute_url }}"><img src="{{ img.image.url }}" alt="{{ object.title }}"></a>{% endwith %}</div>
  <div class="product_actions">
    <div class="product_actions-action play">
      <div class="hint-container"><span>Video preview</span></div>
      <svg class="icon">
        <use xlink:href="#icon_play"></use>
      </svg>
    </div>
    <div class="product_actions-action comment">
      <div class="hint-container"><span>1488 Comments</span></div>
      <svg class="icon">
        <use xlink:href="#icon_comment"></use>
      </svg>
    </div>
    <div class="product_actions-action discount">
      <div class="hint-container"><span>Up to 40% discount</span></div>
      <svg class="icon">
        <use xlink:href="#icon_discount"></use>
      </svg>
    </div>
    <div class="product_actions-action add">
      <svg class="icon">
        <use xlink:href="#icon_add"></use>
      </svg>
    </div>
  </div>
  <div class="product_content">
    <div class="product_content-title">{% if object.title %}<span>{{ object.title|truncatewords:4 }}</span>{% endif %}</div>
    <div class="product_content-price">
      <div class="product_content-price-number"><span class="symbol">$</span>{% if object.price %}<span class="price">{{ object.price }}</span>{% endif %}</div>
      <div class="product_content-price-currency"><span class="currency">USD</span></div>
    </div>
  </div>
</div>
