<div class="product-card">
  <div class="product_actions">
  </div>
  <div class="product_content">
    <div class="product_content-title"><a href="{{ object.get_absolute_url }}">{% if object.title %}<span>{{ object.title|truncatewords:8 }}</span>{% endif %}</a></div>
    <div class="product_content-price">
      <div class="product_content-price-number"><span class="symbol">$</span>{% if object.price %}<span class="price">{{ object.price }}</span>{% endif %}</div>
      <div class="product_content-price-currency"><span class="currency">USD</span></div>
    </div>
  </div>
</div>
